<div class="page-content" ng-controller="HomeCtrl" class="mainview-animation animated">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center premium">
        <h1>Custom charts & dashboards in minutes!</h1>
        <p class="deck">Just upload your csv file and start creating charts and dashboards in one place. Mobile ready.</p>
        <button type="button" class="btn btn-success btn-action">Start Your Free Trial</button>
        <p class="mousetype">no credit card required</p>
      </div>
      <div class="col-xs-12 content bg-white text-center">
        <h2 class="h2-title-case">How we can help you.</h2>
        <p class="caption">We simply allow you to upload any data you may have for charts and dashboards. So data regarding big foot, fairies, and unicorns are welcome.</p>
      </div>
      <div class="col-sm-12 col-xs-12 information">
        <div class="col-sm-4 item">
          <div class="blurb-wrapper chart">
            <h3 class="h3-title-case">Charts</h3>
            <p class="blurb">At almost 100 charts and growing you will find the golden chart you need. Simple process for a non-tech wiz and a non-chart wiz.</p>
          </div>
        </div>
        <div class="col-sm-4 item">
          <div class="blurb-wrapper data">
            <h3 class="h3-title-case">Data &amp; Configure</h3>
            <p class="blurb">Upload any data of your choice and choose the data you want to show from your csv file. Keep 5 rows, trash the other 50, its that simple.</p>
          </div>
        </div>
        <div class="col-sm-4 item">
          <div class="blurb-wrapper customize">
            <h3 class="h3-title-case">Customize</h3>
            <p class="blurb">Customize text, background, data, colors, positions and more for your charts &amp; dashboards. See live changes as you customize.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 banner text-center">
        <h2>
          Create charts and dashboards in minutes
        </h2>
        <p class="deck">Start today with a free 30 day trial- No credit card required.</p>
        <button type="button" class="btn btn-success btn-action">Start Your Free Trial</button>
      </div>
      <div class="col-xs-12 price-plan text-center">
        <h1 class="h1-title-case">Simple plans that grow with your business</h1>
        <div class="col-xs-12 container price-plan-list">
          <div class="col-sm-3 item">
            <div class="price-wrapper user">
              <h4 class="caption">entrepenuer</h4>
              <div class="price">
                <span class="dollar-sign">$</span>
                <span class="rate">19</span>
                <span class="time">/mo</span>
              </div>
              <div class="details">
                <p>1 User</p>
                <p>10 Charts</p>
                <p>2 Dashboards</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item">
            <div class="price-wrapper small-business">
              <h4 class="caption">small business</h4>
              <div class="price">
                <span class="dollar-sign">$</span>
                <span class="rate">49</span>
                <span class="time">/mo</span>
              </div>
              <div class="details">
                <p>5 Users</p>
                <p>Unlimited Charts</p>
                <p>Unlimited Dashboards</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item">
            <div class="price-wrapper big-business">
              <h4 class="caption">big business</h4>
              <div class="price">
                <span class="dollar-sign">$</span>
                <span class="rate">359</span>
                <span class="time">/mo</span>
              </div>
              <div class="details">
                <p>40 Users</p>
                <p>Unlimited Charts</p>
                <p>Unlimited Dashboards</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item">
            <div class="price-wrapper enterprise">
              <h4 class="caption">enterprise</h4>
              <div class="price">
                <span class="rate text">Call For Pricing</span>
              </div>
              <div class="details">
                <p>50+ Users</p>
                <p>Unlimited Charts</p>
                <p>Unlimited Dashboards</p>
              </div>
            </div>
          </div>
        </div>
        <p class="caption text-center">Need additional pricing info? <span class="emph">Get in touch</span> for custom and high-volume pricing.</p>
      </div>
    </div>
  </div>
</div>
